wget
unidecode
fastapi==0.63.0
uvicorn[standard]
lomond>=0.3.3
pyaudio>=0.2.11
webrtcvad>=2.0.10
halo>=0.0.18
nemo_toolkit[asr]
torchaudio>=0.10.0 -f https://download.pytorch.org/whl/torch_stable.html
